<h4 style='text-align:center;'>Wishes and Blessings.</h4>
<% @guest_lists.each do |guest|%>
	<div class='row-fluid'>
		<div >
			<div class="headline">
				<%= guest.name%>
			</div>
			<div class="comment_content">
				<%= guest.comment%>
			</div>
		</div>
	</div>
<% end %>