<!-- <a name="top">
  <a href="#weekend">Weekend</a>
  <a href="#travel">Travel</a>
  <a href="#location">Location</a>
  <a href="#RSVP">Registry</a>
</a> -->


<!-- <a name="weekend">
  <%= image_tag "Weekend.jpg",:size => "600x500", class: "weekend_section"%>
  <a href="#top">^</a>
</a>

<a name="travel">
  <%= image_tag "Weekend.jpg",:size => "600x500", class: "travel_section"%>
  <a href="#top">^</a>
</a>

<a name="location">
  <% 2.times do %>
    <p></p>
  <% end %>
  <%= image_tag "Weekend.jpg",:size => "600x500", class: "location_section"%>
  <a href="#top">^</a>
</a>

<a name="registry">
  <%= image_tag "Weekend.jpg",:size => "600x500", class: "registry_section"%>
  <a href="#top">^</a>
</a> -->