<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear, <%= @guest.name.capitalize %></h1>
    <p>
      Thank you for your RSVP!
    </p>
    <p>
      <%= @message%><br>
      We will update you with more news and pics at the earliest.
    </p>

    <p>
    Thank you,<br>
    Rakesh and Supriya.
    </p>
  </body>
</html>